{
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "trailingComma": "es5",
  "semi": true,
  "endOfLine": "lf",
  "vueIndentScriptAndStyle": true,
  "singleQuote": false,
  "printWidth": 130
}
