@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/customs";
@import "@fontsource/aileron/100.css";
@import "@fontsource/aileron/300.css";
@import "@fontsource/aileron/400.css";
@import "@fontsource/aileron/600.css";
@import "@fontsource/aileron/700.css";
@import "@fontsource/aileron/800.css";

// RESET
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Aileron', sans-serif;
}

