/* COLOR HSL */
$blue-ncs: hsla(201, 67%, 44%, 1);
$teal-blue: hsla(194, 72%, 34%, 1);
$ming: hsla(182, 31%, 32%, 1);
$laurel-green: hsla(117, 11%, 67%, 1);
$bone: hsla(46, 24%, 74%, 1);

// Breakpoints
$breakpoints: (
    "mobile": 720px,
    "tablet": 1024px,
);
