/* COLOR HSL */
$xanadu: #627264ff;
$eton-blue: #a1cda8ff;
$turquoise-green: #b5dfcaff;
$powder-blue: #c5e7e2ff;
$heliotrope-gray: #ad9baaff;

// Breakpoints
$breakpoints: (
  "mobile": 720px,
  "tablet": 1024px,
);
